:root {
    /* --red: #ed6464;
    --orange: #e4844a;
    --yellow: #f6ab0b;
    --grey: #837c6b;
    --tan:#dbab85;
    --egg: #e4dfd3; */
    --blue4: #1d3557;
    --blue3: #457b9d;
    --blue2: #a8dadc;
    --blue1: #f1faee;
    --red: #e63946;

}
